
.fl-fr_Post-post,
.fl-fr_Post-header,
.fl-fr_Post-header-image,
.fl-fr_Post-header-text,
.fl-fr_Post-header-text-top,
.fl-fr_Post-header-text-top-name,
.fl-fr_Post-header-text-top-actionTarget,
.fl-fr_Post-header-text-stars,
.fl-fr_Post-header-text-bottom,
.fl-fr_Post-icon icon-world,
.fl-fr_Post-ExpansibleTextBox,
.fl-fr_Post-ExpansibleTextBox-seeMore {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  line-height: inherit;
}

.fl-fr_Post {
  display: block;
  // max-width: 465px;
  padding: $s-box-padding;
  margin: 0 0 10px;

  background-color: $c-bg;
  border: 1px solid $c-border;
}

.fl-fr_Post-header {
  color: $c-unconspicuous-text;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  position: relative;
  padding-bottom: 6px;
}

.fl-fr_Post-header-image {
  width: 40px;
  height: 40px;
  display: block;
  padding-right: 8px;
}

.fl-fr_Post-header-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.fl-fr_Post-header-text-top {
  margin-bottom: 2px;
}

.fl-fr_Post-header-text-top-name {
  font-weight: bold;
  color: $c-link-text;
}

.fl-fr_Post-header-text-top-actionTarget {
  color: $c-link-text;
}

.fl-fr_Post-header-text-stars {
  @include starBadge();
  font-size: .7em;
}

.fl-fr_Post-header-text-bottom {
  font-family: inherit;
  font-size: $s-unconspicuouse-text;
  line-height: $s-unconspicuouse-text-line-height;
}

.fl-fr_Post-header-arrowDown, .fl-fr_Post-header-arrowDown * {
  display: block;
  fill: $c-unconspicuous-text;
  position: absolute;
  top: -2px;
  right: 0;
  font-size: $s-body-text * 2;
}

.fl-fr_Post-header-text-globe,
.fl-fr_Post-header-text-globe * {
  fill: $c-unconspicuous-text;
}

.fl-fr_Post-ExpansibleTextBox {
  display: block;
  color: $c-body-text;
  font-size: $s-body-text;
  line-height: $s-body-text-line-height;
}

.fl-fr_Post-ExpansibleTextBox-seeMore {
  color: $c-link-text;
  display: inline-block;
  cursor: pointer;
  margin-left: .3em;
}
