.fl-fr_ScoreBoard,
.fl-fr_ScoreBoard-header,
.fl-fr_ScoreBoard-header-mainScore,
.fl-fr_ScoreBoard-header-scoreDetails,
.fl-fr_ScoreBoard-header-scoreDetails-starCount,
.fl-fr_ScoreBoard-header-scoreDetails-reviewCount,
.fl-fr_ScoreBoard-body,
.fl-fr_ScoreBoard-body-reviewCountStarScore,
.fl-fr_ScoreBoard-body-reviewCountStarScore-stars,
.fl-fr_ScoreBoard-body-reviewCountStarScore-reviews,
.fl-fr_ScoreBoard-body-reviewCountStarScore,
.fl-fr_ScoreBoard-body-reviewCountStarScore-stars,
.fl-fr_ScoreBoard-body-reviewCountStarScore-reviews,
.fl-fr_ScoreBoard-body-reviewCountStarScore,
.fl-fr_ScoreBoard-body-reviewCountStarScore-stars,
.fl-fr_ScoreBoard-body-reviewCountStarScore-reviews,
.fl-fr_ScoreBoard-body-reviewCountStarScore,
.fl-fr_ScoreBoard-body-reviewCountStarScore-stars,
.fl-fr_ScoreBoard-body-reviewCountStarScore-reviews,
.fl-fr_ScoreBoard-body-reviewCountStarScore,
.fl-fr_ScoreBoard-body-reviewCountStarScore-stars,
.fl-fr_ScoreBoard-body-reviewCountStarScore-reviews {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  line-height: inherit;
}

.fl-fr_ScoreBoard {
  background-color: white;
  padding: $s-box-padding;
}

.fl-fr_ScoreBoard-header {

}

.fl-fr_ScoreBoard-header-mainScore {

}

.fl-fr_ScoreBoard-header-scoreDetails {

}

.fl-fr_ScoreBoard-header-scoreDetails-starCount {

}

.fl-fr_ScoreBoard-header-scoreDetails-reviewCount {

}

.fl-fr_ScoreBoard-body {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore-stars {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore-reviews {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore-stars {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore-reviews {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore-stars {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore-reviews {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore-stars {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore-reviews {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore-stars {

}

.fl-fr_ScoreBoard-body-reviewCountStarScore-reviews {

}
