// Colors
$c-bg: #fff;
$c-link-text: #4254a0;
$c-body-text: #1d2129;
$c-light-body-text: #4b4f56;
$c-unconspicuous-text: #90949c;
$c-star-bg: #558eff;
$c-border: #d0d1d5;

// Sizes
$s-body-text: 14px;
$s-body-text-line-height: 1.38em;
$s-unconspicuouse-text: 12px;
$s-unconspicuouse-text-line-height: 1.34em;
$s-box-padding: 12px;
$s-scoreBoard-padding: 16px;


// Font
$f-family: helvetica, arial, sans-serif;
