@mixin starBadge() {
  color: $c-bg;
  background-color: $c-star-bg;
  border-radius: 1em;
  vertical-align: middle;
  line-height: 1.3em;

  padding: 0.3em .7em;
  margin-bottom: .2em;
  display: inline-block;

  &:after {
    content: '★';
    font-size: 1em;
    margin-left: -.2em;
    margin-bottom: .4em;
  }
}

.fl-fr {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  font-family: $f-family;
  font-size: $s-body-text;
  line-height: $s-body-text-line-height;
  justify-content: center;
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.fl-fr_postsContainer {
  flex: 2 2 350px;
  margin: 6px;
}

.fl-fr_leftColumn {
  flex: 1 2 210px;
  margin: 6px;
}

.fl-fr_facebookLogoBar {
  display: block;
  background-color: $c-link-text;
  margin: 0 0 6px;
  padding: .4em 1em .05em;
  text-decoration: none;

  > svg {
    width: 1.6em;
    height: 1.6em;
  }
}

.fl-fr_reviewsBar {
  position: relative;
  display: block;
  background-color: #e5e6ea;
  color: $c-light-body-text;
  margin: 6px 0;
  padding: .8em $s-box-padding;
  text-transform: uppercase;
  border: 1px solid $c-border;
  font-size: ($s-unconspicuouse-text * .8);
  line-height: $s-unconspicuouse-text-line-height;
  text-decoration: none;

  span {
    transform: rotateZ(-90deg);
    position: absolute;
    right: 0;
    top: .3em;
  }

  path {
    fill: $c-light-body-text;
  }
}
